@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(#f1f3f6, #deebff);
  min-height: 100vh;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}
